body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 20px;
  color: #000;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* WRAPPER */
.wrapper {
  display: flex;
  flex-direction: column;
}


/* HEADER */
header {
    
    
}

.header_wrapper {
    position: fixed;
    width: 100%;
    border-radius: 0 0 70% 0%;
    display: flex;
    flex-direction: row;
    height: 70px;
    background-color: #af90b3;
    justify-content: space-around;
    align-items: center;
}

.header_nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.header_nav ul li {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    margin-right: 15px;
}

.header_logo img {
    width: 150px;
    height: 70px;
}


/* MAIN */
main {
    flex: 1 0 auto;
}

.main {
  padding-top: 70px;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.mainPage_wrapper {
  font-size: 60px;
  margin: auto;
}

.nav_wrapper {
  min-width: 200px;
  background-color: #af90b3;
  display: flex;
  flex-direction: column;
}

.nav_wrapper a {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #fff;
  padding: 20px;
}

.nav_wrapper a:hover {
  background-color: rgba(255, 255, 255, .3);
}

    /* news */
    .news_wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 0 auto;
      padding-top: 60px;
      padding-right: 60px;
      padding-left: 40px;
      padding-bottom: 100px;
    }

    .news_wrapper .news {
      width: 500px;
      text-align: center;
      margin-bottom: 40px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
      transition: 0.3s;
      border-radius: 5px;
    }

    .news_wrapper .news:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
    }

    .news_wrapper img {
      padding-top: 20px;
      display: inline;
      margin-bottom: 15px;
    }

    .news_title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 15px;
    }

    .news_text {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 15px;
    }

    /* profile */
    .profile_wrapper {
      display: grid;
      grid-template-columns: 1fr 2fr;
      height: 500px;
      column-gap: 20px;
      margin: auto;
      padding-top: 60px;
      padding-right: 60px;
      padding-left: 40px;
      text-align: left;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
      transition: 0.3s;
    }

    .profile_wrapper:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
    }

    .profile_wrapper img {
      margin: 0 auto;
    }

    .profile_name {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 15px;
    }

    .profile_city {
      font-size: 16px;
      font-style: italic;
      line-height: 1.5;
      margin-bottom: 15px;
    }

    .profile_catchPhrase {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 15px;
    }

    /* friends */
    .friends_wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 0 auto;
      padding-top: 60px;
      padding-right: 60px;
      padding-left: 40px;
      text-align: center;
      
    }

    .friend_button {
      background-color: #fff;
      border: 0;
      cursor: pointer;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
      margin-bottom: 15px;
    }

    .friend_button:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
    }

    .friend img {
      padding: 15px;
      margin-bottom: 15px;
    }

    .friend_name {
      font-weight: bold;
      margin-bottom: 15px;
    }

    .friend_email {
      font-size: 16px;
      margin-bottom: 15px;
    }

    /* Login Page */
    .f {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .form_wrapper {
      height: 500px;
      width: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      background-color: #af90b3;
      border-radius: 50% 20% / 10% 40%;
    }

    .form_flex {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .from_title {
      font-size: 30px;
      margin-bottom: 36px;
    }

    form {
      display: flex;
      flex-direction: column;
    }

    form input {
      width: 100%;
      margin-bottom: 24px;
      border: 0;
      border-radius: 5px;
      padding: 10px;
      font-size: 16px;
    }

    form input:focus {
      outline: none;
    }

    .form_suptitle {
      font-size: 18px;
      margin-bottom: 8px;
    }

    .form_button {
      margin-top: 20px;
      border-radius: 5px;
      padding: 10px;
      border: 0;
      transition: ease-in .3s;
    }

    .form_button:hover {
      background: #ff96ad;
      color: #fff;
      box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 30px #ff96ad, 0 0 100px #ff96ad;
    }

/* FOTTER */
footer {
}

.footer_wrapper {
    padding: 5px;
    font-size: 16px;
    text-align: center;
    background-color: #af90b3;
}




.button {
  height: 40px;
}